<h3 style="color: blueviolet;">
    {{titulo}}</h3>

<strong>Empleado Estrella</strong>

<div *ngIf="trabajadorExterno == true"> <br>
    <button style="color: brown" (click)="cambiarExterno(false)">Mostra Trabajador</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[2].cargo}}</li>
        <li *ngIf="trabajadorExterno == true">Esta Contratado</li>
        <li *ngIf="trabajadorExterno != true"> NO Esta Contratado</li>

    </ul>
</div>
<hr>
<div *ngIf="trabajadorExterno == false"><br>
    <button style="color: darkmagenta" (click)="cambiarExterno(true)">Mostra Empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contrato}}</li>

    </ul>
</div>

<h3>Listado de Empleados</h3>
<div *ngFor=" let empleado of trabajadores; let i=index">
    <strong style="color: chartreuse; background-color: black;">Empleado: {{i}}  </strong>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contrato}}</li>
        <li *ngIf="trabajadorExterno == true">Esta Contratado</li>
        <li *ngIf="trabajadorExterno != true"> NO Esta Contratado</li>

    </ul>
</div>
<hr>
<h3>Colores Switch</h3>
<div [ngSwitch]="color">

    <ul *ngSwitchCase="color" [ngStyle]="{background:color, 'color': 'blue','padding':'25px'}">Es de color Rojo</ul>
</div>
<hr>

<div>
    <button (click)="logcolorSeleccionado()">MOSTRAR LOG</button>
    <input type="text" [(ngModel)]="colorSeleccionado" />
    <pre [style.border]="colorSeleccionado == 'red' ? '5px solid black':'1px solid green'" [ngClass]="{
        fondoAzul: colorSeleccionado == 'blue',
        fondoVerde: colorSeleccionado == 'green'
    }">
        <strong> Color Elegido: </strong>
        {{colorSeleccionado}}
    </pre>
    <h3>Selector de Colores</h3>

    <div [ngStyle]="{
        background:colorSeleccionado, 
        'width': '200px',
        'height':'200px',
        'float':'right'
    }">
    </div>
    <div style="clear:both"></div>
</div>