<h3>{{titulo}}</h3>

<div *ngIf="administrador, then admin else noAdmin"></div>

<ng-template #admin>
    <button (click)="cambiar(false)" style="background-color: cornflowerblue;"><strong>Cambiar </strong> </button>
    <strong style="background: rgb(241, 170, 14);"> Eres el Administrador de la WebApp</strong>
</ng-template>

<ng-template #noAdmin>
    <button (click)="cambiar(true)" style="background-color: cornflowerblue;"><strong>Cambiar </strong> </button>
    <strong style="background: rgb(14, 241, 241); color: darkblue;"> NO Eres el Administrador de la WebApp</strong>

</ng-template>