/* You can add global styles to this file, and also import other style files */

.fondoAzul {
    background: lightblue !important;
}

.fondoVerde {
    background: lightgreen !important;
}

.activado {
    font-weight: bold;
    background: lime;
}